:root {
  background-color: #242424;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}

.App {
  max-height: 100vh;
  margin: 0rem auto;
}

a {
  all: unset;
  cursor: pointer;
  text-decoration: none;
}