.container {
    background-image: url('../../assets/images/background-burger-home.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    height: 100vh; 
    width: 100%; 
    margin: 0;
}

.container-home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 5rem;
}

.container-home__content {
    font-size: 4rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    margin-top: 20%;
}

.container-home__content .title-home {
    color: #fff;
}

.container-home__tags {
    display: flex;
    flex-direction: column;
    align-self: end;
    justify-self: center;
    padding-left: 30%;
    margin-top: 50%;
    gap: 1.5rem;
}
  
.description-home__tags {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 1.5rem;
    padding: 1rem 1.5rem;
    gap: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease;
}
  
.description-home__tags:hover, .description-home__tag-avaliacao:hover {
    transform: translateY(-4px);
}
  
.tag-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #333;
    font-size: 30px;
    color: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
  
.tag-description {
    display: flex;
    gap: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    color: #fff;
}  

.tag-description__estrela {
    font-size: 1.5rem;
    color: #ffcc00;
}

.description-home__tag-avaliacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 1.5rem;
    padding: 1rem 1.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease;    
}

.tag-icon__avaliacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tag__imagens-perfil-img {
    width: 20%;
    height: auto;
    border-radius: 50%;
}

.tag__imagens-numero {
    font-size: 5rem;
    color: #fff;
}

