.container {
    background-image: url('../../assets/images/background-burger-home.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    height: 100vh; 
    width: 100%; 
    margin: 0;
}

.container-home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0.5rem 5rem;
}

.container-home__content {
    font-size: 4rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.container-home__tags {
    display: flex;
    justify-content: end;
}

.container-home__tags .container-description-home {
    width: 50%;
}