.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    color: #000;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: 250px;
    text-align: center;
    transition: transform 0.2s;
}
  
.product-card:hover {
    transform: scale(1.05);
}

.product-card__header {
    display: grid;
    grid-template-columns: 3fr auto; 
    text-align: start;
    align-items: center; 
    justify-content: space-between;
    width: 100%;
}
  
.product-name {
    margin: 0; 
}

.btn-favorito {
    font-size: 1.2rem;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 10px 0 10px 20px; 
    margin-top: -20px;
    margin-right: -20px;
    background-color: #333333; 
    cursor: pointer; 
}

.product-image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 10px;
}

.product-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.product-price {
    font-size: 1.5rem;
    color: #242424;
    font-weight: bold;
}

.product-card__buy {
    display: grid;
    grid-template-columns: 3fr auto;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    width: 100%;
}

.product-card__buy .btn-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #333333; 
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    padding: 0.5rem;
    gap: 10px;
    color: #fff;    
    cursor: pointer;
}

.product-card__buy .btn-cart .btn-cart__icon {
    font-size: 1.2rem;
}

.btn-extras {
    background-color: transparent;
    color: #242424;
    border: 0;
    cursor: pointer;
    width: 100%;
    text-align: start;
    border: none;
}


