.header {
  background-color: transparent;
  color: #fff;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}
  
.header-logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-logo-container h1 {
  font-size: 2.5rem;
}
  
.header-logo-container .icon-burger {
  font-size: 2.7rem;
}

.header-nav-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 40px;
}

.header-nav-container__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  height: 40px;
  padding: 0 50px;
  gap: 50px;
  background-color: transparent;
  color: #fff;
}

/* BOTÃO DO CARRINHO */

.header-nav-container .btn-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #fff;
  cursor: pointer;
}

.header-nav-container .btn-cart .icon-cart {
  font-size: 1.6rem;
  color: #333;
}

/* BARRA DE PESQUISA */
.search-bar {
  display: flex;
  align-items: center;
  background: #f1f1f1;
  border-radius: 20px;
  padding: 5px 10px;
  width: 100%;
  max-width: 250px;
}

.search-icon {
  color: #555;
  margin-right: 5px;
}

.search-input {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
}

  